@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind or CSS setup */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.hover-bg-animation {
  transition: background-color 0.4s ease-in-out;
}

.bg-blue-700:hover {
  background-color: #4e78b8;
}
